<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}

        body {
        font-family: Arial, Helvetica, sans-serif;
        }
        
        .navbar {
        overflow: hidden;
        background-color: #333;
        }
        
        .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        
        .dropdown {
        float: left;
        overflow: hidden;
        }
        
        .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        }
        
        .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: rgb(233, 183, 19);
        }
        
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }
        
        .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        }
        
        .dropdown-content a:hover {
        background-color: #ddd;
        }
        
        .dropdown:hover .dropdown-content {
        display: block;
        }

        table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 75%;
        border: 1px solid #ddd;
        }
        
        th, td {
        text-align: left;
        padding: 16px;
        }
        
        tr:nth-child(even) {
        background-color: #f2f2f2;
        }

        body {
          font-family: Arial;
          font-size: 17px;
          padding: 8px;
        }
        
        * {
          box-sizing: border-box;
        }
        
        .row {
          display: -ms-flexbox; /* IE10 */
          display: flex;
          -ms-flex-wrap: wrap; /* IE10 */
          flex-wrap: wrap;
          margin: 0 -16px;
        }
        
        .col-25 {
          -ms-flex: 25%; /* IE10 */
          flex: 25%;
          width: 35%;
        }
        
        .col-25{
          padding: 0 16px;
        }
        
        .container {
          background-color: #f2f2f2;
          padding: 5px 20px 15px 20px;
          border: 1px solid lightgrey;
          border-radius: 3px;
        }
        
        input[type=text] {
          width: 100%;
          margin-bottom: 20px;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
        

        
        .btn {
          background-color: #4CAF50;
          color: white;
          padding: 12px;
          margin: 10px 0;
          border: none;
          width: 100%;
          border-radius: 3px;
          cursor: pointer;
          font-size: 17px;
        }
        
        .btn:hover {
          background-color: #45a049;
        }
        
        a {
          color: #2196F3;
        }
        
        hr {
          border: 1px solid lightgrey;
        }
        
        span.price {
          float: right;
          color: grey;
        }
        
        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
        @media (max-width: 800px) {
          .row {
            flex-direction: column-reverse;
          }
          .col-25 {
            margin-bottom: 20px;
          }
        }
        </style>