h2 {color:white;background:rgb(101, 177, 130);text-align:center;}
form {padding-left:500px;padding-top:60px;}
input {width:80%;padding:12px 20px;margin:20px 0;box-sizing:border-box;}
@media screen and (max-width: 420px) {
/*-----for phone----*/
form {height: 200px;}}
@media screen and (min-width: 650px) {
/*---for tablet-----*/
form {width: 50%;display: block;}}
@media screen and (min-width: 1024px) {
/*----for Laptop---*/
form {width: 33.33%;display: block;}}


